@charset "UTF-8";

/*  프로필 이미지 크기 */
.profile_small {
	 width: 20px;
	 height: 20px;
}
.profile {
	width: 100px;
	height: 100px;
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
